$body-color: #1D1D1F;

body {
  color: $body-color;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

h1 {
  background-color: #85D994;
  padding: 10px;
  margin: 0;
}

h2 {
  padding: 20px 10px 0 10px;
  margin: 0;
}

h3 {
  padding: 20px 10px 0 10px;
  margin: 0;
}

p {
  padding: 20px 10px 10px 10px;
  margin: 0;
}

label {
  margin: 0;
}

nav {
  padding: 10px;
  margin: 0;
  background-color: #85D994;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 12px;
  }
  a {
    padding: 6px 0;
    text-decoration: none;
    color: #1D1D1F;
  }
}

table {
  width: 95%;
  margin: 10px;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 10px;
}

.about-form {
  padding: 20px 10px 0 10px;
  margin: 0;
}

.form-label {
  color: black;
}

.form-input {
  margin: 5px 0 3px 0;
  padding: 0 10px 0 10px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  width: 500px;
  font-size: medium;
  background-color: #F3F5F5;
  height: 30px;
}

.form-textarea {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-top: 5px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid lightgrey;;
  width: 500px;
  font-size: medium;
  resize: none;
  outline: none;
  background-color: #F3F5F5;

  height: 110px;
}

.form-field input:focus {
  outline: 0;
}

.form-field.success input {
  border-color: #59C27B;
}

.form-field.error input {
  border-color: #E64B62;
}

.form-field .error {
  font-size: small;
  color: #E64B62;
  margin-bottom: 14px;
  height: 13px;
}

.success-text {
  padding: 10px;
  color: #59C27B;
  font-size: medium;
}

.add-joke {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.table-button-cell {
  width: 90px;
}

.table-button {
  margin: 5px;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 1920px) {
  .form-field input {
    width: 450px;
  }

  .form-textarea {
    width: 450px;
    height: 100px;
  }
}

@media screen and (max-width: 1440px) {
  .form-field input {
    width: 400px;
  }

  .form-textarea {
    width: 400px;
    height: 90px;
  }
}

@media screen and (max-width: 450px) {
  .form-field input {
    width: 94%;
  }

  .form-textarea {
    width: 94%;
    height: 70px;
  }
}

@media screen and (max-width: 360px) {
  .form-field input {
    width: 94%;
  }

  .form-textarea {
    width: 94%;
    height: 60px;
  }
}
