$body-color: #1D1D1F;

body {
  color: $body-color;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

h1 {
  background-color: #85D994;
  padding: 10px;
  margin: 0;
}

h2 {
  padding: 20px 10px 0 10px;
  margin: 0;
}

h3 {
  padding: 20px 10px 0 10px;
  margin: 0;
}

p {
  padding: 20px 10px 10px 10px;
  margin: 0;
}

label {
  margin: 0;
}

nav {
  padding: 10px;
  margin: 0;
  background-color: #85D994;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 12px;
  }
  a {
    padding: 6px 0;
    text-decoration: none;
    color: #1D1D1F;
  }
}

