<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<h1><%= htmlWebpackPlugin.options.title %></h1>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="html/about.html">About</a></li>
        <li><a href="html/contents.html">Contents</a></li>
    </ul>
</nav>
<h2>Here are some jokes for you:</h2>
<button id='refresh-content' onclick='refreshContent()'>Refresh</button>
<ol id='contentList'></ol>
<script type="text/javascript">
    function refreshContent() {
        const request = new XMLHttpRequest();
        // documentation: https://www.icndb.com/api/
        request.open(
            "GET",
            'http://api.icndb.com/jokes/random/5',
            true
        );
        request.onload = function () {
            if (this.status === 200) {
                let output = "";
                const response = JSON.parse(this.responseText);
                if (response.type === "success") {
                    response.value.forEach(function (responseValue) {
                        output += `<li>${responseValue.joke}</li>`;
                    });
                } else {
                    output += '<li>Error: could not fetch jokes!</li>';
                }
                document.querySelector("#contentList").innerHTML = output;
            }
        };
        request.send();
    }
</script>
</body>
</html>