<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<h1><%= htmlWebpackPlugin.options.title %></h1>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="html/about.html">About</a></li>
        <li><a href="html/contents.html">Contents</a></li>
    </ul>
</nav>
<h2>Here are some jokes for you:</h2>
<button id='add-joke' class="add-joke" onclick='addJoke()'>Get Random Joke</button>
<table id="content-table">
    <tr>
        <th>Jokes</th>
        <th></th>
    </tr>
</table>
<h2>Shopping Cart:</h2>
<table id="shopping-cart">
    <tr>
        <th>Jokes</th>
        <th></th>
    </tr>
</table>
<script type="text/javascript">

    function addJoke() {
        const request = new XMLHttpRequest();
        // documentation: https://api.chucknorris.io/#!
        request.open(
            "GET",
            'https://api.chucknorris.io/jokes/random',
            true
        );
        request.onload = function () {
            if (this.status === 200) {
                const response = JSON.parse(this.responseText);

                let tableRef = document.getElementById('content-table');
                let newRow = tableRef.insertRow(-1);    // Insert a row at the end of the table
                let newJokeCell = newRow.insertCell(0);
                let jokeText = document.createTextNode(response.value);
                newJokeCell.appendChild(jokeText);

                let addButtonCell = newRow.insertCell(1);
                addButtonCell.setAttribute('class', 'table-button-cell');
                const addButton = document.createElement('button');
                addButton.textContent = 'Add to cart';
                addButton.setAttribute('class', 'table-button');
                addButtonCell.appendChild(addButton);

                addButton.addEventListener('click', () => {
                    let shoppingCartTableRef = document.getElementById('shopping-cart');
                    let newShoppingCartRow = shoppingCartTableRef.insertRow(-1);    // Insert a row at the end of the table
                    let newShoppingCartJokeCell = newShoppingCartRow.insertCell(0);
                    let shoppingCartJokeText = document.createTextNode(response.value);
                    newShoppingCartJokeCell.appendChild(shoppingCartJokeText);

                    let deleteButtonCell = newShoppingCartRow.insertCell(1);
                    deleteButtonCell.setAttribute('class', 'table-button-cell');
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.setAttribute('class', 'table-button');
                    deleteButtonCell.appendChild(deleteButton);

                    deleteButton.addEventListener('click', () => {
                        shoppingCartTableRef.deleteRow(deleteButton.parentElement.parentElement.rowIndex);
                    });
                });

            } else {
                console.log("Error: could not fetch joke!");
            }
        };
        request.send();
    }
</script>
</body>
</html>