<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<h1><%= htmlWebpackPlugin.options.title %></h1>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="html/about.html">About</a></li>
        <li><a href="html/contents.html">Contents</a></li>
    </ul>
</nav>
<h2>Here are some jokes for you:</h2>
<button id='add-joke' class="add-joke" onclick='addJoke()'>Get Random Joke</button>
<table id="content-table">
    <tr class="shopping-cart-header">
        <th>Jokes</th>
        <th class="shopping-cart-button-column"></th>
    </tr>
</table>
<h2>Shopping Cart:</h2>
<table id="shopping-cart">
    <tr class="shopping-cart-header">
        <th>Jokes</th>
        <th class="shopping-cart-button-column"></th>
    </tr>
</table>
<script type="text/javascript">
  let httpRequest;

  function getButtonForNewTableRow(tableId, text, buttonTitle) {
    const newRow = tableId.insertRow(-1);
    const newJokeCell = newRow.insertCell(0);
    const jokeText = document.createTextNode(text);
    newJokeCell.appendChild(jokeText);

    const buttonCell = newRow.insertCell(1);
    buttonCell.setAttribute('class', 'table-button-cell');
    const button = document.createElement('button');
    button.textContent = buttonTitle;
    button.setAttribute('class', 'table-button');
    buttonCell.appendChild(button);

    return button;
  }

  function alertContents() {
    try {
      httpRequest.onreadystatechange = () => {
        // eslint-disable-next-line no-undef
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            const response = JSON.parse(this.responseText);

            const contentTableRef = document.getElementById('content-table');
            const addButton = getButtonForNewTableRow(contentTableRef, response.value, 'Add to cart');

            addButton.addEventListener('click', () => {
              const shoppingCartTableRef = document.getElementById('shopping-cart');
              const removeButton = getButtonForNewTableRow(shoppingCartTableRef, response.value, 'Remove');

              removeButton.addEventListener('click', () => {
                shoppingCartTableRef.deleteRow(removeButton.parentElement.parentElement.rowIndex);
              });
            });
          } else {
            console.log('Error: Problem with request!');
          }
        }
      };
    } catch (e) {
      console.log(`Caught exception: ${e.description}`);
    }
  }

  function addJoke() {
    httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = alertContents;

    // documentation: https://api.chucknorris.io/#!
    httpRequest.open(
      'GET',
      'https://api.chucknorris.io/jokes/random',
      true,
    );
    httpRequest.send();
  }
</script>
</body>
</html>